.page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-image: url("../../assets/bg-404.svg");
    background-repeat: no-repeat;
    background-position: center;
}