.register {
    display: flex;
    align-content: center;
    align-items: baseline;

    font-size: 14px;
}

.register button {
    width: fit-content;
    margin: 0;
    margin-left: 2px;
    padding: 2px;

    color: #252934;
    font-size: 14px;
    font-family: 'Overlock', Arial, Helvetica, sans-serif;
    text-transform: none;
    border: none;
    background: none;
}

.register button:hover,
.register button:focus {
    color: #f300b4;
    border: none;
}

.register button:active {
    padding: 2px;
}