.page {
    min-height: 100vh;
    padding: 2%;

    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; */
    background-image: url("../../../../assets/bg3.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 40px;
    
}

h1 {
    width: fit-content;
    margin: 0 auto 15px;
}

.promt {
    width: fit-content;
    margin: 0 auto 15px;
    font-size: 16px;
}

button {
    display: block;
    margin: 0 auto 40px;
}

.flex .card {
    width: 100%;
    height: 380px;
    cursor: pointer;
}