.page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url("../../../../assets/bg3.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.flex {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 20px;
    margin-bottom: 20px;
}

.flex .promt {
    width: 100%;
    grid-column: 1/ -1;
}

.flex .card {
    width: 16vw;
    height: 270px;
    margin-top: 0;
}

.flex .card.cardBoard.selected {
    margin-top: -20px;
}

.card.cardBoard.selected {
    margin-top: -20px;
}

.card.selected {
    margin-top: -20px;
    margin-left: 0;
}

.card.selected {
    margin-top: -20px;
    margin-left: 0;
}

h1 {
    width: fit-content;
    margin: 0 auto 10px;
}

.promt {
    width: 100%;
    margin: 0 auto 10px;
    font-size: 16px;
    text-align: center;
}

.btns {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.btns button {
    margin: 0;
    margin-right: 20px;
    margin-bottom: 20px;
}
